<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyCollection"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProdukActivity"
            android:exported="false" />
        <activity
            android:name=".activitymenu.KategoriActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TransaksiActivity"
            android:exported="false"
            android:label="@string/profil" />
        <activity
            android:name=".activity.TambahAlamatActivity"
            android:exported="false"
            android:label="@string/order" />
        <activity
            android:name=".MasukActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListAlamatActivity"
            android:exported="false"
            android:label="@string/home" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false"
            android:label="@string/profil" />
        <activity
            android:name=".activity.DetailProdukActivity"
            android:exported="false"
            android:label="@string/order" />
        <activity
            android:name=".activity.ResetActivity"
            android:exported="false" />
        <activity
            android:name=".activitymenu.OrderActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activitymenu.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activitymenu.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>

</manifest>